.howCreate{
    margin: 4rem 6rem;
}

.howCreate h4{
    font-size: 1.97rem;
    text-align: center;
    color: #000;
}
.howCreate .pCLass{
    width: 90%;
    align-items: center;
    padding-left: 10rem;
}

.first-step{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4.5rem;
}
.first-step-reverse{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin-top: 4.5rem;
}

.des-text{
    width: 45%;
    text-align: start;
    font-size: 1.1rem;
}

.des-text h3{
    padding-bottom: 1rem;
}

.image{
    position: relative;
    width: 50%;
    display: flex;
    justify-content: space-between;
    z-index: -99;
}

.image img{
    width: 49%;
    height: 350px;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: -1px 1px 62px  rgba(0, 0, 0, 0.19);
}

.image img:nth-child(2){
    position: absolute;
    top: -15%;
    right: 0;
}

@media screen and (max-width: 850px){
    .howCreate{
        margin: 4rem 2rem;
    }
    .howCreate .pCLass{
        max-width: 100%;
        padding-left: 2rem;
        text-align: center;
        justify-content: center;
        
    }
    /* .howCreate h2{
        font-size: 100rem;
    } */
    .first-step{
        display: flex;
        flex-direction: column-reverse;
        margin-top: 2.5rem;
    }
    .first-step-reverse{
        display: flex;
        flex-direction: column-reverse;
        margin-top: 2.5rem;
    }
    .des-text{
        width: 100%;
    }
    .image{
        width: 100%;
        margin: 1.8rem 0;
    }
    .image  img{
        height: 250px;
    }

    
}