/* Global Styles */
.body1 {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    padding-top: 100px;
    padding-bottom: 100px; /*Change*/
    color: #333;
    background-color: #e6e6e6;
    display: flex;
    flex-direction: column;
}

.t1_container {
    width: 850px;
    max-width: 850px;
    position: relative;
    border: 1px solid transparent; /* Default border */
    transition: border-color 0.3s ease;
    margin: auto;
    /* border: 1px solid black; */
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 8px 10px rgba(0,0,0,0.1);
}

p,li{
    text-align: justify;
}
h1, h2, h3, p {
    display: flex;
    margin: 0;
    justify-content: flex-start;
}
strong{
    font-size: 17px;
}

ul {
    list-style: none;
    padding: 0;
}

.t1-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #004080;
    padding-bottom: 20px;
}

.t1-name-title .t1-h1 {
    font-size: 30px;
    color: #004080;
    text-transform: uppercase;
    margin-bottom: 5px;
    padding-top: 10px;
    padding-left: 40px;
}

.name-title h2 {
    font-size: 20px;
    color: #b3b3b3;
}

.t1-contact-info {
    text-align: left;
    padding-top: 1px;
    font-size: 14px;
    line-height: 1.5;
    margin-right: 40px;
}
.t1-contact-info .t1-p{
    gap:2px;
}
.t1-contact-info .t1-icon{
    padding-top: 3px;
}

.t1-content {
    display: flex;
    margin-top: 20px;
}
.image-t1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .t1-profile-image {
    width: 120px;
    height: 120px;
    border-radius: 20%; /* Makes the image circular */
    /* Ensures the image covers the circle shape */
    border: 2px solid #ddd; /* Optional: add a border */
  }
  
.t1-sidebar {
    width: 35%;
    padding-right: 20px;
    border-right: 2px solid #004080;
}

.t1-sidebar .t1-profile, .t1-sidebar .t1-skills,.t1-sidebar .t1-hobbies {
    margin-bottom: 20px;
    margin-left: 10px;
}
.projects ul,.skills .t1-ul,.hobbies .t1-ul{
    list-style-type:disc;
    margin-left: 20px;
}
.t1-delete-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .t1-delete-icon {
    cursor: pointer;
    color: #003135;
    font-size: 15px;
    margin-left: 10px;
    margin-bottom: 10px;
    transition: transform 0.2s;
  }
  
.t1-sidebar .t1-sidebar-h3 {
    font-size: 18px;
    color: #004080;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.t1-sidebar p, .t1-sidebar .t1-ul {
    font-size: 14px;
    line-height: 1.6;
}

.t1-main-content {
    width: 70%;
    padding-left: 20px;
}

.t1-main-content .objective, .t1-main-content .t1-experience, .t1-main-content .t1-education, .t1-main-content .t1-projects {
    margin-bottom: 20px;
}

.t1-main-content h3 {
    font-size: 18px;
    color: #004080;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.t1-main-content .t1-main-p, .t1-main-content .t1-main-ul, .t1-main-content .t1-main-li {
    font-size: 14px;
    line-height: 1.6;
    justify-items: baseline;
    list-style: disc;
}
.t1-main-content .t1-main-ul{
    margin-left: 1rem;
}
.t1-job {
    margin-bottom: 10px;
}

.t1-job .t1-job-p {
    font-weight: bold;
    margin-bottom: 5px;
}

.t1-job .t1-job-ul {
    margin-left: 20px;
    list-style-type: disc;
}
.edit-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: transparent; /* Hide icon by default */
    cursor: pointer;
    transition: color 0.3s ease;
  }
  .t1_container:hover .edit-icon {
    color: #003135; /* Icon color on hover */
  }
  .button-containers {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    transition: opacity 0.3s ease-in-out;
    position: relative;
    bottom: -100px; /* Positioned below the resume */
    padding-bottom: 20px;
  }
  
  .download-btn {
    background-color: #003135;
    color: white;
    padding: 8px;
    font-size: 0.96rem;
    font-weight: 500;
    border-radius: 15px;
    border: 2px solid #003135;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    display: inline-block;
  }
  .download-btn:hover {
    border: 2px solid #003135;
    background-color: #fff;
    color: #003135;
    transform: scale(1);
  }
 /* Mobile Styles at 350px */
@media (max-width: 350px) {
    .t1_container {
        max-width: 100%;
        padding: 10px;
    }

    .name-title h1 {
        font-size: 5px;
        padding-left: 10px;
        padding-top: 5px;
    }

    .name-title h2 {
        font-size: 14px;
        padding-left: 10px;
    }

    .contact-info {
        font-size: 10px;
        margin-right: 10px;
    }

    .sidebar h3 {
        font-size: 14px;
    }

    .sidebar p, .sidebar ul {
        font-size: 12px;
    }

    .main-content h3 {
        font-size: 14px;
    }

    .main-content p, .main-content ul, .main-content li {
        font-size: 12px;
    }

    .edit-icon {
        font-size: 18px;
    }
}
 

  
  